html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--noryx-font-family-base);
  color: var(--noryx-color-ink);
  background-color: var(--noryx-color-near-white);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
